#rrazdan_background{
  height: 650px;
}

div.rrazdan_line hr{
  margin: 0;
  padding: 0;
}

div.rrazdan_font{
  font-size: 16px;
}

#rrazdan_about{
  font-size: 13px;
  width: 100px;
  margin-right: 40px;
  margin-top: 0px;
  position: absolute;
  outline: 0;
}

#rrazdan_about:hover{
  cursor: pointer;
}

#rrazdan_mapContainer{
  min-height: 530px;
  background-color: #E0EEEE;
  margin-top: -25px;  
}

#rrazdan_choice{
    margin: 0 auto;
    position: relative;
    text-align: center;
    max-width: 770px;
}
 
#rrazdan_choice select {
      padding-top:5px;
      padding-bottom:5px;
      padding-left: 5px;
      border: 0 !important;  /*Removed border*/
      -webkit-appearance: none;  /*Removed default chrome and safari style*/
      -moz-appearance: none; /* Removed Default Firefox style*/
      background: url('http://i.imgur.com/FRCSwrK.png') no-repeat right;  /*Adds  arrow image*/
      background-position: 236px 7px;  /*Position of arrow*/
      width: 260px; /*Width of dropdown content*/
      text-indent: 0.01px; /* Removed default arrow from firefox*/
      text-overflow: "";  /*Removed default arrow from firefox*/
      background-color: #E0EEEE;
      color: #104E8B;
      margin-right: 10px;
      /*Removed dotted border upon selecting dropdown*/
      text-shadow: 0 0 0 #000;
      color: transparent;
      font-size: 15px;
}

#rrazdan_choice select:hover{
      cursor:pointer;
}

#rrazdan_generateButton{
    border-radius: 27px; 
    -moz-border-radius: 27px; 
    -webkit-border-radius: 27px; 
    border: 2px solid #39B7CD;
    background-color: #B0E0E6;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #104E8B;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
}
 
#rrazdan_generateButton:active{
    background-color: #76C5CF;
}

#rrazdan_welcome{
  text-align:-moz-center;
  text-align:-webkit-center;    

}


#rrazdan_colorPicker{
    margin-top: 0px;
    margin-left: 1px;
    z-index: 0;
    background-color: #E0EEEE;
    padding-left: 3px;
    /*style*/
    background-color: rgb(65, 65, 65);
    background-color: rgba(65, 65, 65, 0.9);
    box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.55);
    max-height: 50px;
    overflow: scroll;
}

#rrazdan_red:hover{
  background-color: #1F1F1F;
  cursor: pointer;  
}
#rrazdan_lightGreen:hover{
  background-color: #1F1F1F;
  cursor: pointer;
}#rrazdan_green:hover{
  background-color: #1F1F1F;
  cursor: pointer;
}#rrazdan_blue:hover{
  background-color: #1F1F1F;
  cursor: pointer;
}#rrazdan_lightGrey:hover{
  background-color: #1F1F1F;
  cursor: pointer;
}#rrazdan_grey:hover{
  background-color: #1F1F1F;
  cursor: pointer;
}

/*for origin icon only*/
#rrazdan_colorPicker .lead.rrazdan_first{
  color: white;
  font-size: 17px;
  margin-left: 10px;
}

/*for all subsequent icons*/
#rrazdan_colorPicker .lead{
  color: white;
  font-size: 17px;
  margin-left: 25px;
}

/*hover for labels*/
#rrazdan_colorPicker .lead.rrazdan_first:hover{
  color: #1F1F1F;
  cursor: pointer;
}
#rrazdan_destination:hover{
  color: #1F1F1F;
  cursor: pointer;
}
#rrazdan_reset:hover{
  color: #1F1F1F;
  cursor: pointer;
}
#rrazdan_duration:hover{
  color: #1F1F1F;
  cursor: pointer;
}
#rrazdan_direction:hover{
  color: #1F1F1F;
  cursor: pointer;
}

#rrazdan_duration:active{
  color: #A6D785 !important;
}

#rrazdan_reset:active{
  color: #A6D785 !important;
}

.rrazdan_activeLink{
  color: #A6D785 !important;
  cursor: pointer;
}

.rrazdan_locationTitle{
  text-align: center;
}

/*need !important here because overriding property of class lead*/
#rrazdan_pickerLabel{
  margin-left: 5px !important;
  padding-left: 0px !important;
}

/*Removes dotted border upon button click*/
*:focus {
    outline: 0;
}


/* Below is styling for colorbox. Colorbox css, ids and classes generated by the colorbox.js 
plugin thus not explicitly created by me. Consequently, they do not have rrazdan_ in front */
 
#cboxOverlay{
  z-index: 4;
  height: 0px !important; 
  width: 0px !important;
  position: relative;

}

#cboxWrapper {
  z-index: 4;
  height: 310px !important; 
  width: 350px !important;
  position: relative;
}

/*control position of colorbox via margin-left*/
#colorbox{
  margin-left: 165px;
  position: relative;
}

#cboxOverlay {
  position: relative;
  /*send it out of view*/
  top: -1000000px !important;
  width: 310px !important;
  height: 350px !important;
  opacity: 0;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: hidden;
  width: 310px !important;
  height: 350px;
  margin-bottom: 28px;
}

#cboxClose{
  cursor: pointer;
  position: absolute;
  width: 52px;
  height: 52px;
  top: 10px;
  left: 15px;
  background: url('http://i.imgur.com/ekvf70s.png') no-repeat;
  /*send it out of view*/
  text-indent: -9999px;
  border: 0px
}

/*end of colorbox styling*/



.rrazdan_box{
  border: 1px solid #c1c4c5;
  box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
  margin: 20px;
  background: #fff;
  padding: 15px;
  color: #636363;
  font-size:15px;
  line-height:20px;
}

.rrazdan_boxTitle{
  color: #009ACD;
}

#rrazdan_durationLink{
  color: inherit; 
  text-decoration: inherit; 
  outline: 0px;
}

@media all and (max-width: 1314px){
  #rrazdan_about{
    display: none;
  }
  
}

@media all and (max-width: 720px){
  #rrazdan_mapContainer{
      min-height: 490px;
  }
}